html{
  font-size: 62.5% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  @include flex(column, center, center);
  min-height: 100vh;
  font-family: 'Heebo', 'Times New Roman', Times, serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  @include flex(column, start, center);
  flex: 1 0 auto;
  width: 100%;
  background: #fff;
}

.strikethrough {
  text-decoration: line-through;
}

.hide{
  display: none ;
}


