.ui.modal.transition.visible.active.listModalContainer {
  width: 98vw;
  
  .list-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;

    .ui.input {
      margin-bottom: 0.75rem;
    }
    .ui.button {
      margin-top: 1rem;
      width: 175px;
      color: #5877E5;
      background: none;
      border: 2px solid #5877E5;
      border-radius: 7px;
    }
  }

  .content.list-content {
    margin: 0;
    background: #ffffff;

  
      h3, p {
        margin-bottom: 0.25rem;
      }

      .delete-item-icon{

        cursor: pointer;
        color: rgb(243, 80, 112);
      
        &:hover {
          transform:scale(1.1)
        }
      }

      .no-items{
        font-weight: bold;
        text-align: center;
        
      }
  }
}

.hide{
  display: none;
}